#article {
	display: none;
	text-align: justify;
	overflow: auto;
	padding: 20px;
}

.article-header {
	float: right;
}

#close-article {
	display: flex;
	border-radius: 5px;
	padding-bottom: 0;
	width: 50px;
	height: 50px;
	text-decoration: none;
	border: solid black 1px;
	background: black;
	color: grey;
}

#close-article i {
	margin: auto;
}

#close-article:hover {
	background: rgb(30, 30, 30);
	border: solid rgb(30, 185, 128) 1px;
	color: rgb(30, 185, 128);
}

.infobox_v2 {
	float: right;
	max-width: 50%;
	margin-left: 20px;
	margin-bottom: 50px;
}

#seeArticle {
	position: absolute;
	bottom: 40px;
	right: 20px;
	z-index: 40;
	margin: 0;
}

#seeArticle a {
	height: 30px;
	border-radius: 20px;
	background: white;
	color: black;
	text-decoration: none;
	border: solid black 1px;
}

#seeArticle a > * {
	margin: auto;
	margin-right: 10px;
}

.scrollTo {
	display: none;
}

.scrollTop {
	display: none;
	position: fixed;
	bottom: 40px;
	right: 20px;
}