html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: black;
}

a {
	color: white;
	outline-style: none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.align-right {
	float: right;
}

.align-left {
	float: left;
}

.align-center {
	text-align: center;
}