/* Logo */

#logo {
	position: fixed;
	bottom: 20px;
	left: 20px;
	margin: 0;
	display: flex;
	z-index: 30;
}

#logo img {
	width: 80px;
}

#logo strong {
	margin: auto 10px;
	font-size: 2em;
	font-family: Eczar;
}

/* Recherche */

#search {
	position: fixed;
	left: 20px;
	top: 30px;
	z-index: 80;
}

#search .container {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	position: relative;
	z-index: 84;
	width: 310px;
	transition: all 0.5s;
}

#search .container:hover{
	width: 350px;
}

#search .logo {
	position: absolute;
	height: 40px;
	display: flex;
	left: 10px;
	top: 0;
}

#search .logo i {
	margin: auto;
	color: black;
}

#search input {
	border: none;
	border-radius: 20px;
	height: 40px;
	padding: 0 40px;
	box-sizing: border-box;
	width: 100%;
	transition: all 0.5s;
	border-bottom: solid rgb(30, 185, 128) 1px;
}

#search #removeSearch {
	position: absolute;
	color: black;
	height: 40px;
	display: flex;
	right: 10px;
	top: 0;
	text-decoration: none;
}

#search a strong {
	margin: auto;
}

#searchResults {
	display: none;
	margin: 0;
	background: rgba(255,255,255,0.9);
	position: absolute;
	top: 20px;
	padding: 20px;
	left: 0;
	width: 100%;
	z-index: 82;
	box-sizing: border-box;
	border-radius: 0px 0px 20px 20px;
	max-height: 75vh;
	overflow-y: auto;
	color: black;
}

#searchResults ul {
	list-style-type: none;
	padding: 0;
}

#searchResults li {
	margin: 5px;
}

#searchResults .showArticle {
	color: black;
}

#searchResults em {
	display: inline-block;
	background: black;
	color: white;
	border-radius: 5px;
	padding: 5px;
	font-style: normal;
	font-size: small;
}

#searchResults .where {
	font-weight: normal;
	text-transform: uppercase;
	font-size: small;
	border-bottom: solid rgb(30, 185, 128) 1px;
	color: black;
}

/* Loader */

#pageLoader {
    position: fixed;
}

#searchLoader {
	margin: 20px;
	display: none;
}

.fullWidth {
	display: flex;
	width: 100%;
}

.fullHeight {
	height: 100%;
}

.loaderContainer {
	margin: auto;
	text-align: center;
}

.loaderContainer p {
    margin: 0;
}

svg path, svg rect {
	fill: rgb(30, 185, 128);
}

/* Menu de navigation */

nav, #settings {
	display: flex;
	position: fixed;
	top: 100px;
	bottom: 130px;
	transition: all 1s;
}

nav {
	left: -100%;
	z-index: 50;
}

.button {
	display: flex;
	width: 80px;
	height: 80px;
	position: absolute;
	background: rgb(48, 48, 48);
	box-sizing: border-box;
	margin: 0;
	padding: 15px;
}

nav #navigationButton {
	right: -80px;
	text-align: right;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	box-shadow: 5px 0 10px black inset;
	z-index: 45;
	top: 25%;
}

nav #navigationButton a {
	margin: auto;
	display: inline-block;
}

nav #navigationButton i {
	font-size: 3em;
}

.menuContainer {
	position: relative;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background: rgb(48, 48, 48);
	box-sizing: border-box;
	padding: 20px;
}

.navigationContainer {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	direction: rtl;
	margin-bottom: auto;
}

.menu {
	direction: ltr;
	position: relative;
}

#takeAtour i {
	font-size: 4em;
}

nav ul {
	list-style: none;
}

.menu > ul {
	padding: 0;
	margin: 0;
	margin-left: -50px;
}

nav .menu p {
	display: inline-block;
	margin: 0;
}

nav .menu a {
	display: flex;
}

nav .iconContainer {
	display: inline-block;
	position: relative;
	width: 168px;
	text-align: center;
}

nav .menu i {
	text-decoration: none;
	text-shadow: black 0 0 5px;
}

nav .iconContainer .favorites {
	position: absolute;
	bottom: 0;
	right: 50px;
}

nav .labelContainer {
	display: flex;
	margin-left: -40px;
}

nav strong {
	margin: auto 5px;
}

nav em {
	margin: auto 5px;
	font-style: normal;
	background: white;
	color: black;
	border-radius: 3px;
	padding: 5px;
}

/* Menu des paramètres */

#settings {
	right: -100%;
	transition: all 1s;
	z-index: 60;
}

#settings #settingsButton {
	left: -80px;
	text-align: left;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	box-shadow: -5px 0 10px black inset;
	z-index: 55;
	bottom: 25%;
}

#settings #settingsButton a {
	display: inline-block;
	margin: auto;
}

#settings #settingsButton i {
	font-size: 3em;
}

.settingsContainer {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-top: auto;
}

#user .userContainer {
	text-align: center;
	margin: 0;
}

#user #button-connect {
	text-transform: uppercase;
	font-weight: bold;
	font-style: normal;
	background: rgb(30, 185, 128);
	color: white;
	border-radius: 3px;
	padding: 10px;
	text-decoration: none;
	transition: all 0.5s;
	display: inline-block;
}

#user #button-connect:hover {
	box-shadow: 0 5px 5px black;
}

#user #button-profil {
	display: flex;
}

#user #button-profil:hover {
	text-decoration: none;
}

#user #button-profil img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: 5px 0 10px rgba(0,0,0,0.5);
}

#user #button-profil i {
	font-size: 5em;
}

#user #button-profil .name {
	margin: auto;
	margin-left: 10px;
	text-align: left;
}

#user #button-profil .name:hover {
	text-decoration: underline;
}

#settings .boolean p {
	margin: 30px 0;
}

#settings .multiple button {
	display: inline-block;
	cursor: pointer;
	border: none;
	padding: 10px;
	background: black;
	color: white;
	border-radius: 5px;
}

/*
.multiple {
	position: absolute;
	padding: 20px;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
}

#scaleDistance {
	float: right;
	text-align: center;
}

#scaleTime {
	float: left;
	text-align: center;
}
*/

/* Fenêtres modales */

#popup {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(66, 66, 80, 0.5);
	display: none;
	z-index: 90;
}

.popup-body {
	padding: 20px;
}

.popup-header {
	background-color: black;
	font-weight: bold;
	display: flex;
	padding: 10px;
	border-radius: 5px 5px 0 0;
}

.popup-header h3 {
	margin: auto;
	margin-left: 0;
}

.popup-header .close_container {
	margin: auto;
	margin-right: 0;
}

.popup-header .close:hover {
	color: rgb(30, 185, 128);
}

#connect {
	font-weight: bold;
	margin: auto;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	display: none;
	border-radius: 5px;
	width: 20%;
}

#profil {
	z-index: 95;
}

#register {
	z-index: 100;
}

#connect input, #profil input, #register input {
	width: 100%;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.25);
	border: none;
	color: white;
	padding: 20px;
	border-radius: 5px;
}

#connect input:hover, #profil input:hover, #register input:hover {
	background: rgba(0, 0, 0, 0.5);
}

#connect input:focus, #profil input:focus, #register input:focus {
	background: rgba(0, 0, 0, 0.5);
	border: solid black 5px;
}

#profil #disconnectButton {
	display: none;
}

#connect .container-button, #profil .container-button, #register .container-button
	{
	margin: 0;
	border-top: solid rgb(80, 80, 80) 1px;
	padding-top: 10px;
}

#connect .container-button button, #profil .container-button button,
	#register .container-button button {
	text-transform: uppercase;
	color: white;
	background: none;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 20px;
	border-radius: 5px;
}

#connect .container-button button:hover, #profil .container-button button:hover,
	#register .container-button button:hover {
	background: rgba(0, 0, 0, 0.5);
}

#profil, #register {
	font-size: 18px;
	margin: auto;
	background: rgba(0, 0, 0, 0.4);
	display: none;
	border-radius: 5px;
	width: 30%;
}

#profil input, #register input {
	box-sizing: border-box;
	width: 100%;
}

#profil .submit, #register .submit {
	text-align: center;
}
