/* Uniquement pour les résolutions émulées supérieures à 1000px */
@media ( min-width : 1000px ) {
	
	#article {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 50%;
		background: rgba(0, 0, 0, 0.5);
		z-index: 70;
		box-sizing: border-box;
	}
	
	.article-header {
		display: block;
	}
	
	#seeArticle {
		display: none;
	}
	
	#user {
		position: fixed;
		top: 30px;
		right: 30px;
	}
}

/* Uniquement pour les résolutions émulées inférieures à 1000px */
@media ( max-width : 1000px ) {
	
	#article {
		position: relative;
		top: 100%;
		padding-top: 75px !important;
	}
	
	#search {
		right: 20px;
	}

	#search .container {
		width: 100%;
	}

	#search .container:hover {
		width: 100%;
	}
	
	.article-header {
		display: none;
	}
	
	#profil, #connect, #register {
		width: 80%;
	}
	
	#seeArticle {
		display: block;
	}
}